<%-include('../partials/adminheader.ejs') %>
<style>
    .active {
  color: green; 
}

.inactive {
  color: red; 
}

</style>

<!-- //oder details list -->
            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Customers</h1>
                       
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Email</td>
                                <td>Name</td>
                                <td>Join Date</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>


                            <%users.forEach((user) => { %>
                                <tr>
                                    <td><%= user.email %></td>
                                  <td><%= user.name %></td>
                                  
                                  <td>
                                    <% let dt=new Date(user.timeStamp)%>
                                    <%=dt.getDate()%>/<%=dt.getMonth()+1%>/<%=dt.getFullYear()%>  %>
                                    <td>
                                        <a href="/admin/block/<%= user._id %>" style="text-decoration: none;" class="status <%= user.Status === 'Active' ? 'active' : 'inactive' %>" data-userid="<%= user._id %>" data-isactive="<%= user.Status %>">
                                          <%= user.Status %>
                                        </a>
                                      </td>                                      
                              <% }); %>
                              
                        </tbody>
                    </table>
                </div>

               
                
                
            </div>

        </div>
        
    </div>
   

  <!-- Include necessary JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <%-include('../partials/adminfooter.ejs') %>