<%-include('../partials/adminheader.ejs') %>

   
   <div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h1>Category</h1>
            <a href="/admin/add-category" class="btn">Add Category</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Updated Date</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </thead>
            <% categories.forEach(category => { %>
              <tr>
                <td><%= category.name %></td>
                <td> <% let dt=new Date(category.timeStamp)%>
                  <%let day=["monday",'tuesday','wednesday','friday','satuarday','sunday']%>
                  <%=dt.getDate()%>/<%=dt.getMonth()+1%>/<%=dt.getFullYear()%>  %></td>
                <td><a href="/admin/editcategory/<%= category._id %>" style=" text-decoration: none;" >Edit</a></td>
                <td><a href="/admin/deletecategory/<%= category._id %>" onclick="return confirm('are you Sure ?')" style="color: red; text-decoration: none;" >Delete</a></td>
            <% }); %>

            <tbody>    
            </tbody>
        </table>
    </div>

   
    
    
</div>

</div>

</div>




<%-include('../partials/adminfooter.ejs') %>