<%-include('../partials/adminheader.ejs') %>






<div class="details">
    <div class="recentOrders">
      
        <h2>Edit Brands</h2>
        <% if (error) { %>
          <p style="color: red;"><%= error %></p>
      <% } %>
        <form class="row g-3"  method="POST" action="/admin/editbrand/<%= Brand._id %>" >
       
            <div class="col-md-12">
              <label for="inputEmail4" class="form-label">Brand Name</label>
              <input  class="form-control" name="Brandname" id="Brand_name" type="text" value="<%= Brand.name %>" required >
            </div>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
          

          <div class="d-flex justify-content-around">
            <div class="cardHeader d-flex">
              <button type="submit" class="btn">Edit Brand</button>
          </div>
          
            <div class="cardHeader d-flex">
                <a href="/admin/brands" class="btn">Cancel</a>
               
            </div>
        </div>

          </form>
          <br>
          <br>
          <br>

  </div>
</div>



<%-include('../partials/adminfooter.ejs') %>