<%-include('../partials/adminheader.ejs') %>

            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Order List</h1>
                          <a href="/admin/orders" class="btn">back</a>
                    </div>

                   

                    <div class="card shadow p-5 m-2">
                        <div class="order-details">
                            <h2>Customer Information</h2>
                            <h6>Name: <%= customerName %></h6>
                            <p>Address: <%= customerAddress.AddressLane %>, <%= customerAddress.City %>, <%= customerAddress.State %>, <%= customerAddress.Pincode %></p>
                        </div>

                        <div class="order-total ">
                            <h5>Total Order Price: Rs. <%= customerOrderTotal %> </h5>
                        </div>

                    <% orderedProducts.forEach((product) => { %>
                       
                    <div class="product-card-img" style="padding: 30px;">
                        <!-- <label class="stock bg-success">In Stock</label> -->
                        <td><img src="/product-images/<%= product?.productId.images[0]?.mainimage %>"  alt="Image Deleted" style="height: 250px;"></td>
                    </div>
                    <div class="product-card-body">
                       
                        <p class="product-brand ">Quantity: <%= product.quantity %></p>
                        <h5 class="product-name">
                            
                            <%= product.productId.name %>
                           
                        </h5>
                      

                </div>
                </div>
                <% }); %>

                

               
                
            </div>


        </div>
    </div>



    <%-include('../partials/adminfooter.ejs') %>