<%-include('../partials/adminheader.ejs') %>

            
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Order List</h1>
                          <a href="/admin/orders" class="btn">back</a>
                    </div>
                    <% orderedProducts.forEach((product) => { %>
                        <div class="card shadow p-5 m-2">
                    <div class="product-card-img" style="padding: 30px;">
                        <!-- <label class="stock bg-success">In Stock</label> -->
                        <td><img src="/product-images/<%= product.productId.images[0].mainimage %>"  alt="qwert" style="height: 250px;"></td>
                    </div>
                    <div class="product-card-body">
                       
                        <p class="product-brand ">Quantity: <%= product.quantity %></p>
                        <h5 class="product-name">
                            
                            <%= product.productId.name %>
                           
                        </h5>
                        <div>
                            <span class="selling-price">Rs.<%= product.productId.descountedPrice %></span>
                           
                        </div>

                </div>
                </div>
                <% }); %>

               
                
            </div>


        </div>
    </div>



    <%-include('../partials/adminfooter.ejs') %>