<%- include('../partials/adminheader.ejs') -%>

<div class="details">
  <div class="recentOrders">
    <h1>Order List</h1>
    <div class="cardHeader" style="width: 1250px;">
        <% if(order.length> 0) { %> 
      <table class="table  table-borderless">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Order ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Status</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < order.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= order[i]._id %></td>
              <td>
                <%= order[i].Address.Name  %>
              </td>
              
              <td>
                <% const orderDate = new Date(order[i].OrderDate); %>
                <%= orderDate.toLocaleString('default', { month: 'short' }) %>
                <%= orderDate.getDate() %>,
                <%= orderDate.getFullYear() %>
                <%= orderDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %>
              </td>
              <td>
                <% if (order[i].Status === "Return Pending") { %>
                  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#returnModal<%= i %>">Return</button>
                <% } else if (order[i].Status === 'Cancelled') { %>
                  Cancelled
                  <% } else if (order[i].Status === 'Return Canceled') { %>
                    Return Canceled
                    <% } else if (order[i].Status === 'Return Accepted') { %>
                      Returned 
                <% } else { %>
                  <% if (order[i].Status !== 'Return Pending') { %>
                    <% const currentStatus = order[i].Status || 'Order Placed'; %>
                    <select class="form-select" id="statusSelect<%= i %>" onchange="updateOrderStatus('<%= order[i]._id %>', this.value)">
                      <option value="Order Placed" <%= currentStatus === 'Order Placed' ? 'selected' : '' %>>Order Placed</option>
                      <option value="Shipped" <%= currentStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                      <option value="Delivered" <%= currentStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                      <option value="Rejected" <%= currentStatus === 'Rejected' ? 'selected' : '' %>>Rejected</option>
                    </select>
                  <% } %>
                <% } %>
              </td>
              
              
              <td>
                <%= order[i].PaymentMethod %>
              </td>
              <td>
                <%= order[i].PaymentStatus %>
              </td>
              <td>
                <%= order[i].TotalPrice %>
              </td>
              <td>
                <a href="/admin/orders/details/<%= order[i]._id %>" class="btn btn-dark btn-sm">
                  View Details
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>


    


      <% } else { %>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">No Orders Yet</h5>
            <p class="card-text">There are currently no orders available.</p>
          </div>
        </div>
        <% } %>
      
    </div>

   <!-- Pagination -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/admin/orders?page=<%= current - 1 %>" style="color: black;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for (let i = 1; i <= pages; i++) { %>
      <li class="page-item">
        <a class="page-link" href="/admin/orders?page=<%= i %>" style="color: black;"><%= i %></a>
      </li>
    <% } %>
    <li class="page-item">
      <a class="page-link" href="/admin/orders?page=<%= current + 1 %>" style="color: black;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


  </div>
</div>
</div>


<% for (let i = 0; i < order.length; i++) { %>
  <div class="modal fade" id="returnModal<%= i %>" tabindex="-1"  aria-labelledby="returnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="returnModalLabel">Return Request Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to accept the return request?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="cancelReturn('<%= order[i]._id %>')">Cancel Return Request</button>
          <button type="button" class="btn btn-dark" onclick="acceptReturn('<%= order[i]._id %>')">Accept Return</button>
        </div>
      </div>
    </div>
  </div>
<% } %>



<script>
    function updateOrderStatus(orderId, newStatus) {
  fetch(`/admin/orders/updateOrderStatus/${orderId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ status: newStatus }),
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        alert('Order status updated successfully!');
      } else {
        alert('Failed to update order status.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}


//accept return request
function acceptReturn(orderId) {
  fetch(`/admin/orders/acceptReturn/${orderId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        alert('Return request accepted successfully!');
        location.reload();
      } else {
        alert('Failed to accept return request.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}


//cancel return 
function cancelReturn(orderId) {
  fetch(`/admin/orders/cancelReturn/${orderId}`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        alert('Return request canceled successfully!');
        location.reload();
      } else {
        alert('Failed to cancel return request.');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}
</script>

<%- include('../partials/adminfooter.ejs') -%>
