<%- include('../partials/adminheader.ejs') -%>
            
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h1>Products</h1>
            <a href="/admin/addProduct" class="btn">Add Products</a>
        </div>
        
        <table>
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Image</td>
                    <td>Stock</td>
                    <td>Status</td>
                    <td>Edit</td>
                    <td>archive</td>
                </tr>
            </thead>

            <tbody>
                
                <% products.forEach((product, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= product.name %></td>
                        <td><%= product.descountedPrice %></td>
                        <td><img src="/product-images/<%=product.images[0].mainimage%>" style="width: 33px;height:33" alt=""></td>
                        <td><%= product.stock %></td>
                        <td><span class="status <%= product.stock > 0 ? 'delivered' : 'return' %>"><%= product.stock > 0 ? 'In stock' : 'Out of stock' %></span></td>
                        <td><ion-icon name="create-outline"></ion-icon></td>
                        <td><ion-icon name="trash-outline"></ion-icon></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

   
    
</div>


</div>
</div>





<%-include('../partials/adminfooter.ejs') %>