<%-include('../partials/userHeader',{ cartCount: cartCount }) %>
  <br><br>
<!-- sidebar + content -->
<section class="">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3">
          
          
          <!-- Collapsible wrapper -->
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo"
                          >
                    Categories
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                        <label class="form-check-label" for="flexCheckChecked1">under 20000</label>
                        <span class="badge badge-secondary float-end">120</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                        <label class="form-check-label" for="flexCheckChecked2">Flagship</label>
                        <span class="badge badge-secondary float-end">15</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked />
                        <label class="form-check-label" for="flexCheckChecked3">Basic phones</label>
                        <span class="badge badge-secondary float-end">35</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked />
                        <label class="form-check-label" for="flexCheckChecked4">under 10000</label>
                        <span class="badge badge-secondary float-end">89</span>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo"
                          >
                    Brands
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                        <label class="form-check-label" for="flexCheckChecked1">samsung</label>
                        <span class="badge badge-secondary float-end">120</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                        <label class="form-check-label" for="flexCheckChecked2">IQ</label>
                        <span class="badge badge-secondary float-end">15</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked />
                        <label class="form-check-label" for="flexCheckChecked3">realme</label>
                        <span class="badge badge-secondary float-end">35</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked />
                        <label class="form-check-label" for="flexCheckChecked4">oppo</label>
                        <span class="badge badge-secondary float-end">89</span>
                      </div>
                     
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseTwo"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseTwo"
                          >
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                        <label class="form-check-label" for="flexCheckChecked1">Highest to Lowest</label>
                        <span class="badge badge-secondary float-end">120</span>
                      </div>
                      <!-- Checked checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                        <label class="form-check-label" for="flexCheckChecked2">Lowest to Highest</label>
                        <span class="badge badge-secondary float-end">15</span>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
              

            </div>
          </div>
        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
       
          </header>
          <%if(viewallProducts){%>
            <%viewallProducts.forEach((data)=>{ %>
          <div class="row justify-content-center mb-3">
            <div class="col-md-12">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                        <img src="/product-images/<%= data?.images[0]?.mainimage %>" alt="fsrd" class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-md-5 col-sm-7" >
                      <a href="/user/product/details/<%-data._id%>" style="text-decoration: none;"> <h5><%=data.name%></h5></a>
                      <br>
                    
  
                      <p class="text mb-4 mb-md-0">
                        <%=data.description%>
                      </p>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-5">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1" >₹<%=data.descountedPrice%></h4>
                        <span class="text-dark" style="text-decoration: line-through;">₹<%=data.basePrice%></s></span>
                      </div>
                      <%if(data.stock>0){%>
                        <h6 class="text-success">In stock</h6>
                        <%}else{%>
                        <h6 class="text-danger">out of stock</h6>
                          <%}%>
                      <div class="mt-4">
                        <button class="btn btn-dark rounded-3 add-to-cart-button"  data-product-id="<%= data._id %>">Add to cart</button>
                       
                        <a href="#!" class="btn btn-dark border px-2 pt-2 add-to-wishlist-button"  data-product-id="<%= data._id %>">
                          <i class="fa fa-heart <% if (wishlist.includes(data._id)) { %>text-danger<% } %>"></i>
                        </a>

                         

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
  
          <!-- <hr /> -->

          <%})%>
         
  
         <!-- Pagination -->
         <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/shop?page=<%= page - 1 %>" style="color: black;" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for(let i = 1; i <= productsCount; i++) { %>
              <li class="page-item">
                <a class="page-link" href="/shop?page=<%= i %>" style="color: black;"><%= i %></a>
              </li>
            <% } %>
            <li class="page-item">
              <a class="page-link" href="/shop?page=<%= page + 1 %>" style="color: black;" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        

          <%}else{%>
            <h1>404 not found</h1>
            <%}%>
  
          
        </div>
      </div>
    </div>
  </section>

  <script>
     document.querySelectorAll('.add-to-cart-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productId = this.getAttribute('data-product-id');


                $.ajax({
                    url: '/addtocart/' + productId,
                    method: 'POST',
                    success: function (response) {

                        alert('Product added to cart');
                        location.reload()
                    },
                    error: function (error) {
                        console.error('Error adding product to cart:', error);
                    }
                });
            });
        });


        document.querySelectorAll('.add-to-wishlist-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();


                const productId = this.getAttribute('data-product-id');
                const icon = this.querySelector('.fa-heart');

                $.ajax({
                    url: '/wishlist/',
                    method: 'POST',
                    data: {
                        productId: productId,
                    },
                    success: function (response) {
                        console.log(icon.style.color)
                        if (response.added) {
                            icon.classList.add('text-danger')
                          
                        } else {
                            icon.classList.remove('text-danger')
                        }
                    },
                    error: function (error) {
                        console.error('Error updating wishlist:', error);
                    }
                });
            });
        });

        
  </script>
  <%-include('../partials/userFooter') %>