<%-include('../partials/userHeader',{ cartCount: cartCount }) %>
  <br>
<!-- sidebar + content -->
<section class="">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3" id="sidebar">

          <form action="/filterProduct" method="post">

          <div class="card p-2">
            <div class="card-body">
              <h5 class="card-title"> Categories</h5>
              <br>
              <h6 class="card-subtitle mb-2 text-muted">Filter By  Categories</h6>
              <br>
              <% categories.forEach(category => { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="<%= category._id %>" name="selectedCategory" id="<%= category.name %>">
                    <label class="form-check-label" for="<%= category.name %>">
                        <%= category.name %>
                    </label>
                </div>
            <% }) %>
         
        </div>
        </div>

<br>

        <div class="card p-2">
          <div class="card-body">
            <h5 class="card-title"> Brands </h5>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Filter By  Brands</h6>
            <br>
            <% brands.forEach(brand => { %>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="<%= brand._id %>" name="selectedBrands" id="<%= brand.name %>">
                  <label class="form-check-label" for="<%= brand._id %>">
                      <%= brand.name %>
                  </label>
              </div>
          <% }) %>
       
      </div>
      </div>

      <br>

      <div class="card p-2">
        <div class="card-body">
          <h5 class="card-title"> Price</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-muted">Filter By  Price</h6>
          <br>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="10000" name="selectedPrice" id="price1">
            <label class="form-check-label" for="price1">
              below 10000
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="20000" name="selectedPrice" id="price2" >
          <label class="form-check-label" for="price2">
            below 20000
          </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="30000" name="selectedPrice" id="price3" >
        <label class="form-check-label" for="price3">
            below 30000
        </label>          
    </div> 
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="40000" name="selectedPrice" id="price4" >
        <label class="form-check-label" for="price4">
            below 40000
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="50000" name="selectedPrice" id="price5" >
        <label class="form-check-label" for="price5">
            below 50000
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="100000" name="selectedPrice" id="price6" >
        <label class="form-check-label" for="price6">
            below 100000
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1000000" name="selectedPrice" id="price7" >
        <label class="form-check-label" for="price7">
            above 100000
        </label>
    </div>
    
    </div>
    </div>
<br>
    <button type="submit" class="btn btn-outline-dark w-100 border border-secondary">Apply</button>
 
          </form>


        </div>
       
        <!-- sidebar -->

        <!-- content -->
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
       
          </header>
          <%if(viewallProducts.length > 0){%>
            <%viewallProducts.forEach((data)=>{ %>
          <div class="row justify-content-center mb-3">
            <div class="col-md-12">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <a href="/product/<%= data._id %>" style="text-decoration: none;">
                  <div class="row g-0">
                    <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                      <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                        <img src="/product-images/<%= data?.images[0]?.mainimage %>" alt="fsrd" class="w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-xl-6 col-md-5 col-sm-7" >
                     
                      <h5 style="color: rgb(65, 112, 241);"><%=data.name%></h5>
                      <br>
                    
  
                      <p class="text mb-4 mb-md-0">
                        <ul>
                          <li><%= data.highlight1 %></li>
                          <li><%= data.highlight2 %></li>
                          <li><%= data.highlight3 %></li>
                          <li><%= data.highlight4 %></li>
                      </ul>
                      </p>
                    </div>
                    </a>
                    <div class="col-xl-3 col-md-3 col-sm-5">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1" >₹<%=data.descountedPrice%></h4>
                        <span class="text-dark" style="text-decoration: line-through;">₹<%=data.basePrice%></s></span>
                      </div>
                      <%if(data.stock>0){%>
                        <h6 class="text-success">In stock</h6>
                        <%}else{%>
                        <h6 class="text-danger">out of stock</h6>
                          <%}%>
                      <div class="mt-4">
                        <button class="btn btn-dark rounded-3 add-to-cart-button"  data-product-id="<%= data._id %>">Add to cart</button>
                       
                        <a href="#!" class="btn btn-dark border px-2 pt-2 add-to-wishlist-button"  data-product-id="<%= data._id %>">
                          <i class="fa fa-heart <% if (wishlist.includes(data._id)) { %>text-danger<% } %>"></i>
                        </a>

                         

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
  
          <hr />

          <%})%>
         
  
         <!-- Pagination -->
         <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/shop?page=<%= page - 1 %>" style="color: black;" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for(let i = 1; i <= productsCount; i++) { %>
              <li class="page-item">
                <a class="page-link" href="/shop?page=<%= i %>" style="color: black;"><%= i %></a>
              </li>
            <% } %>
            <li class="page-item">
              <a class="page-link" href="/shop?page=<%= page + 1 %>" style="color: black;" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        

          <%}else{%>
            <div class="d-flex justify-content-center mt-5">

              <h2>No Matching Products</h2>
            
            </div>
            <div class="d-flex justify-content-center mt-2">

              <p> Use another Filter</p>
            
            </div>
           
            <%}%>
  
          
        </div>
      </div>
    </div>
  </section>
  <br>
<br>



  <script>





     document.querySelectorAll('.add-to-cart-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productId = this.getAttribute('data-product-id');

                $.ajax({
            url: '/getproduct/' + productId,
            method: 'GET',
            success: function (product) {
                console.log(product.product.stock);
                if (product.product.stock > 0) {
                  console.log(product);
                $.ajax({
                    url: '/addtocart/' + productId,
                    method: 'POST',
                    success: function (response) {

                        alert('Product added to cart');
                        location.reload()
                    },
                    error: function (error) {
                        console.error('Error adding product to cart:', error);
                    }
                });
              }else {
                   console.log(product.stock)
                    alert('Item is out of stock');
                }
              },
              error: function (error) {
                console.error('Error fetching product details:', error);
            }
        });
            });
        });


        document.querySelectorAll('.add-to-wishlist-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();


                const productId = this.getAttribute('data-product-id');
                const icon = this.querySelector('.fa-heart');

                $.ajax({
                    url: '/wishlist/',
                    method: 'POST',
                    data: {
                        productId: productId,
                    },
                    success: function (response) {
                        console.log(icon.style.color)
                        if (response.added) {
                            icon.classList.add('text-danger')
                          
                        } else {
                            icon.classList.remove('text-danger')
                        }
                    },
                    error: function (error) {
                        console.error('Error updating wishlist:', error);
                    }
                });
            });
        });


        
  </script>
  <%-include('../partials/userFooter') %>